# Node / NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# explizit falls vorheriges nicht greift
src/main/resources/static/node_modules/

# Build output (falls vorhanden)
dist/
build/

# IDE
.vscode/
.idea/
.DS_Store